 

.switches{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    .eventBtn,.collBtn{
        padding: 10px;
        min-width: 100px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        // border: 1px solid ;
        border-radius: 25px;
        // background-color: #282B30;
        background-color: #484E56;
        cursor: pointer;
        transition: 0.5s all linear;
        color: white;
    }
    .collBtn{
        margin-left: -20px;
        // background-color: #484E56;
        background-color: #282B30;


    }

}